<div class="vista9">

  <header class="top-bar">
    <div class="icon-left" (click)="volver()">&#x276E;</div>
    <img src="assets/logosmartchef.png" class="logo" alt="Logo" />
    <div class="icon-right"></div>
  </header>

  <div class="divider"></div>

  <img [src]="receta?.fotoUrl || 'assets/default-recipe.jpeg'"
       class="hero-img" />

  <h2 class="titulo">{{ receta?.nombre }}</h2>

  <p class="subtitulo">
    {{ receta?.descripcion }}
  </p>


  <div class="info-grid" *ngIf="receta">
    <div class="info-box">{{ receta.tiempoPreparacion }} min</div>
    <div class="info-box">{{ receta.vegetariano ? 'Vegetariano' : 'No vegetariano' }}</div>
    <div class="info-box" *ngIf="receta.sinGluten">Sin gluten</div>
    <div class="info-box" *ngIf="receta.rapido">Rápido</div>
    <div class="info-box" *ngIf="receta.economico">Económico</div>
  </div>

  <button class="btn-add" (click)="anadirCompra()">+ Añadir a compra</button>

  <button class="btn-add btn-edit" (click)="editarReceta()">Editar</button>


  <div class="section-card">
    <h3 class="section-title">Ingredientes</h3>

    <ul class="ingredientes-list">
      <li *ngFor="let ing of receta?.ingredientes">
        {{ ing.cantidad }} {{ ing.unidad }} de {{ ing.nombre }}
      </li>
    </ul>

  </div>

  <div class="paso" *ngFor="let paso of receta?.instrucciones">
    <img *ngIf="paso.imagenUrl" [src]="paso.imagenUrl" />
    <p>
      <strong>Paso {{ paso.pasoNumero }}:</strong>
      {{ paso.descripcion }}
    </p>
  </div>

</div>

<nav class="bottom-nav">
  <button (click)="irDescubrir()">
    <img src="assets/icon-home.png" />
    <span>Descubrir</span>
  </button>

  <button (click)="irFavoritos()">
    <img src="assets/icon-heart.png" />
    <span>Favoritos</span>
  </button>

  <button (click)="irCompras()">
    <img src="assets/icon-cart.png" />
    <span>Compras</span>
  </button>


  <button (click)="irPlanificar()">
    <img src="assets/icon-calendar.png" />
    <span>Planificar</span>
  </button>
</nav>
