<div class="vista10">

  <header class="top-bar">
    <div class="icon-left" (click)="volver()">&#x276E;</div>
    <img src="assets/logosmartchef.png" class="logo" />
    <div class="icon-right"></div>
  </header>

  <div class="divider"></div>

  <input
    type="text"
    placeholder="URL de la imagen"
    [(ngModel)]="fotoUrl"
    class="hero-input"
  />

  <input
    [(ngModel)]="titulo"
    placeholder="Título de la receta"
    class="input-titulo"
  />

  <textarea
    [(ngModel)]="descripcion"
    placeholder="Descripción de la receta"
    class="input-desc">
  </textarea>

  <div class="section-card">
    <h3>Ingredientes</h3>

    <div
      *ngFor="let ing of ingredientes; let i = index"
      class="ingrediente-edit"
    >
      <input
        [(ngModel)]="ing.nombre"
        placeholder="Ingrediente"
      />

      <input
        type="number"
        [(ngModel)]="ing.cantidad"
        placeholder="Cantidad"
      />

      <input
        [(ngModel)]="ing.unidad"
        placeholder="Unidad (g, ml, ud...)"
      />

      <input
        [(ngModel)]="ing.categoria"
        placeholder="Categoría"
      />

      <button (click)="eliminarIngrediente(i)">Eliminar</button>
    </div>

    <button (click)="anadirIngrediente()">+ Añadir ingrediente</button>
  </div>

  <div class="section-card">
    <h3>Preparación paso a paso</h3>

    <div
      *ngFor="let paso of pasos; let i = index"
      class="paso-edit"
    >
      <input
        [(ngModel)]="paso.descripcion"
        placeholder="Descripción del paso"
      />

      <input
        [(ngModel)]="paso.imagenUrl"
        placeholder="URL imagen del paso (opcional)"
      />

      <button (click)="eliminarPaso(i)">Eliminar</button>
    </div>

    <button (click)="anadirPaso()">+ Añadir paso</button>
  </div>

  <button class="btn-confirm" (click)="confirmar()">
    Guardar cambios
  </button>

</div>
