<div class="container">
  <button class="back-button" (click)="volver()">
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
      <path d="M15 18L9 12L15 6" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </button>

  <div class="logo-container">
    <div class="logo-circle">
      <svg class="chef-hat" viewBox="0 0 100 80" fill="none" xmlns="http://www.w3.org/2000/svg">
        <!-- tu SVG aquí -->
      </svg>
      <div class="logo-text">SmartChef</div>
    </div>
  </div>
  <form (ngSubmit)="iniciarSesion()">
    <ion-input
      type="email"
      [value]="usuario"
      (ionInput)="usuario = $event.detail.value || ''"
      required
    ></ion-input>

    <ion-input
      type="password"
      [value]="contrasena"
      (ionInput)="contrasena = $event.detail.value || ''"
      required
    ></ion-input>


    <ion-item>
      <ion-label>Recordarme</ion-label>
      <ion-checkbox [(ngModel)]="recordarme" name="recordarme"></ion-checkbox>
    </ion-item>

    <ion-button expand="full" type="submit">Iniciar Sesión</ion-button>
  </form>
</div>
