<div class="vista4">

  <header class="top-bar">
    <div class="icon-left">&#x276E;</div>
    <img src="assets/logosmartchef.png" class="logo" alt="Logo" />
    <div class="icon-right"></div>
  </header>

  <div class="divider"></div>

  <h2 class="titulo">¿Qué cocinarás hoy?</h2>
  <p class="subtitulo">Encuentra recetas perfectas con lo que tienes en casa</p>

  <div class="search-container">
    <input
      [(ngModel)]="searchQuery"
      type="text"
      class="search-input"
      placeholder="Buscar ingredientes o receta"
      (input)="buscar()"
    />
    <button class="btn-search" (click)="buscar()">🔍</button>
  </div>

  <div class="filtros-container">
    <div class="filtro-wrapper" (click)="toggleDesplegable()">
      <span>{{ textoFiltros }}</span> ▼
    </div>

    <div class="overlay" *ngIf="desplegarFiltros" (click)="cerrarFiltros()"></div>

    <div class="filtro-dropdown" *ngIf="desplegarFiltros">
      <label>
        <input type="checkbox" [(ngModel)]="filtros.vegetariano" /> Vegetariano
      </label>
      <label>
        <input type="checkbox" [(ngModel)]="filtros.sinGluten" /> Sin gluten
      </label>
      <label>
        <input type="checkbox" [(ngModel)]="filtros.rapido" /> Rápido
      </label>
      <label>
        <input type="checkbox" [(ngModel)]="filtros.economico" /> Económico
      </label>
      <button class="btn-aplicar" (click)="aplicarFiltros()">Aplicar filtros</button>
    </div>
  </div>

  <p class="resultados-texto">{{ cards.length }} recetas encontradas</p>

  <div class="cards">
    <div class="card" *ngFor="let card of cards; let i = index">
      <img [src]="card.fotoUrl">
      <h3>{{ card.nombre }}</h3>
      <p class="meta">{{ card.tiempoPreparacion }} min</p>

      <div class="card-buttons">
        <button class="btn-rec" (click)="abrirReceta(card)">Receta</button>
        <button (click)="eliminarCard(card, i)">Eliminar</button>

      </div>
    </div>
  </div>


  <button class="btn-add" (click)="anadirReceta()">+</button>

</div>

<nav class="bottom-nav">
  <button (click)="irDescubrir()">
    <img src="assets/icon/lupa.png" alt="Descubrir" />
    <span>Descubrir</span>
  </button>
  <button (click)="irFavoritos()">
    <img src="assets/icon/me-gusta.png" alt="Favoritos" />
    <span>Favoritos</span>
  </button>
  <button (click)="irCompras()">
    <img src="assets/icon/tienda.png" alt="Compras" />
    <span>Compras</span>
  </button>
  <button (click)="irPlanificar()">
    <img src="assets/icon/calendario.png" alt="Planificar" />
    <span>Planificar</span>
  </button>
</nav>
